/* main.css
   메인 레이아웃 및 공통 스타일을 위한 커스텀 CSS 파일입니다.
*/

:root {
    --color-primary: #ff6f61;
    --color-secondary: #4a90e2;
    --color-background: #f5f5f5;
    --color-text: #333333;
  
}

* {
  box-sizing: inherit;
  box-sizing: border-box;
  color :var(--color-text)
}
